@import "tailwindcss";

body {
  font-family: "Geist", sans-serif;
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 4px;
    padding: 2px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: rgb(41, 41, 41);
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: rgb(10, 10, 10);
}

@utility shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
